html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  background-color: #F7F7F7 !important;
}

.page-title{
  display: flex;
  align-items: center;
  font-size: 20px;
}
/*  common css */

.page-title svg{
  margin-right: 7px;
}
.card_dash1{
  background: #fff;
  border-radius: 3px;
  border: 1px solid #efefef;
  padding: 30px 20px;
  margin-top: 30px;
}

.card_dash1 h2{
  font-size: 24px;
  display: flex;
  align-items: center;
}

.card_dash1 h2 svg {
  font-size: 30px;
  margin-right: 10px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
::-moz-selection { /* Code for Firefox */
	background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

::selection {
	background-color: #cce2ff;
    color: rgba(0,0,0,.87);
}

ol, ul {
	list-style: none;
	margin-bottom: 0 !important;
}
a:hover {
	color: inherit !important;
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {
outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin:0;
	padding: 0;
}
a:focus {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none !important;
}
button {
	outline: none;
}

button:focus {
	outline: none !important;
}

input {
	outline: none;
}
textarea {
	outline: none;
}

p {
	font-size: 14px;
	line-height: 26px;
	color: #686f7a;
}

/* ================ Typography Css =============== */
h1 {
	font-size: 2em;
	/* 2x body copy size = 32px */
	line-height: 1.25;
	/* 45px / 36px */
}
h2 {
	font-size: 1.625em;
	/* 1.625x body copy size = 26px */
	line-height: 1.15384615;
	/* 30px / 26px */
}
h3 {
	font-size: 1.375em;
	/* 1.375x body copy size = 22px */
	line-height: 1.13636364;
	/* 25px / 22px */
}
h4 {
	font-size: 1.125em;
	/* 1.125x body copy size = 18px */
	line-height: 1.11111111;
}
h5 {
	font-size: 1.10em;
	/* 1.125x body copy size = 18px */
	line-height: 1.10;
}
h6 {
	font-size: 1em;
	/* 1.125x body copy size = 18px */
	line-height: 1.050;
}
blockquote {
	font-size: 1.25em;
	/* 20px / 16px */
	line-height: 1.25;
	/* 25px / 20px */
}

/* --- Signup Signin Page --- */

.main_logo25 {
  float: none;
  width: 135px;
  text-align: center;
  margin: auto !important;
padding: 50px 0;
}

.sign_in_up_bg {
  background: #f7f7f7 !important;
  position: relative;
width: 100%;
}
.sign_in_up_bg button{
  width: 100%;
}

.sign_in_up_bg:before {
  content: "";
  background: url(./assets/img/sign.svg) no-repeat center; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  opacity: 0.04;
}

.sign_form {
background: #fff;
  border-radius: 3px;
  padding: 50px 50px 30px;
  box-shadow: -0.083333333in 0.5pc 1.125pc -7px rgba(25,42,70,.13);
  flex: 1;
  float: left;
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.ui.form.checkbox_sign {
  text-align: left;
}

.ui.checkbox.mncheck .box, .ui.checkbox.mncheck label {
  font-family: 'Roboto', sans-serif !important;
color: #333;
line-height: 20px;
}

.ui.checkbox.mncheck input:checked~.box:after, .ui.checkbox.mncheck input:checked~label:after {
  opacity: 1;
  color: #ed2a26 !important;
font-size: 10px !important;
border-radius: 100%;
margin-top: 0;
}

.ui.checkbox.mncheck .box:before, .ui.checkbox.mncheck label:before {
  border-radius: 100%;
width: 18px !important;
height: 18px !important;
margin-top: 1px;
}

.login-btn {
font-size: 14px;
  margin-top: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: #ed2a26;
  border-radius: 3px;
  text-align: center;
border: 0;
width: 100%;
  height: 40px;
}

.login-btn:hover {
  color: #fff;
  background: #333;
}

.sign_form h2 {
font-size: 24px;
  margin-bottom: 17px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
color: #333;
text-align: center;	
}

.sign_form p {
font-size: 14px;
  margin-bottom: 47px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
color: #686f7a;
text-align: center;	
line-height: 26px;
}

.sgntrm145 {
  padding: 47px 0 30px;
margin-bottom: 0 !important;
  border-bottom: 1px solid #efefef;
}

.sign_footer {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 50px 0;
  display: block;
  float: left;
  width: 100%;
}

.sign_footer img {
  margin-right: 10px;
}

.sgntrm145 a {
  color: #ed2a26;
}

.sgntrm145 a:hover {
color: #333 !important;
text-decoration: underline !important;
}

.hvsng145 a {
  color: #ed2a26;
}

.hvsng145 a:hover {
color: #333 !important;
text-decoration: underline !important;
}

.ui.swdh95 {
  font-size: 14px !important;
  width: 100% !important;
}

.ui[class*="left icon"].swdh95.input>input {
  padding-left: 4.2em!important;
  padding-right: 1em!important;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  width: 100%;

}
.ui.swdh19 {
  font-size: 14px !important;
  width: 100%;
}

.ui[class*="left icon"].swdh19.input>input {
  padding-left: 2em!important;
  padding-right: 2em!important;
  height: 40px !important;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.help-block {
  display: block;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: -10px;
  color: #686f7a;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.ui[class*="left icon"].swdh11.input>input {
  width: 100%;
  padding-right: 1em!important;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.ui[class*="left icon"].swdh95.input>input:focus {
  padding-left: 4.2em!important;
  padding-right: 1em!important;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/* input */
.srch_explore {
  background: #fff !important;
  border: 1px solid #e5e5e5 !important;
  color: #333 !important;	
box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.02) !important;
}

.srch_explore:focus {
  border: 1px solid #333 !important;	
box-shadow: none !important;
}

.ui.swdh11 {
  font-size: 14px !important;
  width: 100%;
}

.ui.search .prompt {
  border-radius: 3px !important;
}

.input__icon{
  color: grey !important;
  fill: gray !important;
  
  position: relative;
  left: -238px;
  top: -32px;
}

/* Header */

/* Dropdwon */
.transition {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.night_mode_switch__btn a .icon {
  display: flex;
  font-size: 120%;
  height: 30px;
  Width: 30px;
  background: #ffecec;
  border-radius: 100%;
  margin-right: 10px;
  padding: 6px 4px 0;
  align-items: center;
  justify-content: center;
}

.night_mode_switch__btn a {
  display: block;
  font-size: 14px;
  transition: 0.3s;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  color: #333;
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.ui.dropdown .menu>.item {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0,0,0,.87);
  padding: .78571429rem 1.14285714rem!important;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
}
.menu.dropdown_account {
  margin-top: 0 !important;
  border-top: 1px solid #fff !important;
  border-radius: 3px !important;
}
.channel_my {
  padding: 15px !important;
  border-bottom: 1px solid #efefef !important;
  min-width: 100%;
  max-width: 100%;
  white-space: normal;
}
.ui.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: block;
  outline: 0;
  top: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  right: 0px;
  background: #fff;
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  -webkit-box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
  box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  z-index: 11;
  will-change: transform,opacity;
  
}
.ui.dropdown .menu>.channel_item {
  color: #686f7a !important;
  padding: .78571429rem 1.14285714rem!important;
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif;
}

.dp_link_12 {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin-top: 15px;
  display: block;
  text-align: left;
  text-decoration: none;
}

.dp_link_12:hover {
  color: #ed2a26 !important;
}

/* end Dropdown */
.ui[class*="left icon"].swdh10.input>input {
  padding-left: 3.2em!important;
  padding-right: 1em!important;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.ui.swdh10 {
  font-size: 14px !important;
  width: 350px;
}

.uil-search-alt{
  color: grey;
  margin-bottom: -10px;
  z-index: 2;
}

.srch10.prompt{
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  z-index: 1;
}
.collapse_menu {
  width: 60px;
  text-align: center;
  display: block;
  height: 60px;
  padding: 0;
  border: 0;
  background: #ed2a26;
  color: #fff;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
  float: left;
}
header {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 60px;
	background: #fff;
	display: flex !important;
	align-items: center;
	box-shadow: 0px 0.052083333in 11.25pt -9px rgba(0,0,0,.1);
}

.main_logo {
    float: left;
    width: 135px;
    margin-left: 20px;
}

.logo-inverse {
    display: none;
}

.search120 {
    float: left;
    margin-left: 50px;
}

.srch10 {
	background: #f7f7f7 !important;
    border: 0 !important;
	color: #333 !important;
}

i.icon1 {
	font-size: 16px !important;
}

.ui.swdh10 {
    font-size: 14px !important;
	width: 350px;
}

.ui[class*="left icon"].swdh10.input>input {
    padding-left:3.2em!important;
    padding-right: 1em!important;
	font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.label{
  font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px !important;
    color: #333;
    text-align: left;
    display: block;
    font-weight: bold;
}
.select-field{
  width: 100%;
  padding: 9.5px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5 !important;
  border-radius: 5px;
}
.select-field:focus{
  outline: none ;
}

.ui.label.lb12 {
  padding: .9999em 1.2em !important;
  color: #686f7a !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.ui.form.swdh30 textarea {
  background: #fff;
  border: 1px solid #e5e5e5 !important;
  outline: 0;
  min-height: 130px;
  color: rgba(0,0,0,.87);
  border-radius: 3px !important;
  box-shadow: inset 0px 1px 4px rgb(0 0 0 / 2%) !important;
  width: 100%;
  padding: 20px;
}

.header_right {
    margin-left: auto;
    float: right;
    padding-right: 15px;
}

.header_right ul li {
    display: inline-block;
	vertical-align: middle;
}

.option_links {
    padding: 18px 8px;
    font-size: 20px;
    color: #686f7a;
	position: relative;
}

.option_links i {
    font-size: 120%;
}

.option_links:hover, .option_links:focus {
    color: #333 !important;
}

.noti_count {
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 8px;
    background: #ed2a26;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1.5;
    border-radius: 100%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.opts_account {
    padding: 12px 0;
    float: right;
}

.opts_account img {
    width: 36px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.upload_btn {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #ed2a26;
    padding: 9px 15px;
    border-radius: 3px;
	margin-right: 10px;
}

.upload_btn i {
    font-size: 16px;
    margin-right:3px;
}

.upload_btn:hover {
    color: #fff !important;
    background: #333;
}

.left_title {
    padding: 20px 17px 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #afafaf;
    text-align: left;
	margin-bottom: 0;
}

.user_img img {
    width: 30px;
    border-radius: 100%;
    margin-left: 17px;
    margin-right: 15px;
}

.menu.dropdown_account {
    margin-top: 0 !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
}

.menu.dropdown_mn {
    width: 300px;
	margin-top: 17px !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
	min-width: 300px !important;
}

.menu.dropdown_ms {
    width: 300px;
	margin-top: 17px !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
	min-width: 300px !important;
}

.channel_my {
	padding: 15px !important;
    border-bottom: 1px solid #efefef !important;
    min-width: 100%;
    max-width: 100%;
    white-space: normal;
}

.channel_my:last-child {
    border-bottom: 0 !important;
}

.profile_link {
    display: flex;
}

.profile_link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
	border: 2px solid #fff;
	border-radius: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.pd_content {
    width: 80%;
	white-space: normal;
}

.pd_content h6 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
	position: relative;
}

.pd_content span {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    color: #686f7a;
    text-align: left;
}

.dp_link_12 {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-top: 15px;
    display: block;
    text-align: left;
}

.dp_link_12:hover {
    color: #ed2a26 !important;
}

.ui.dropdown .menu>.channel_item {
    color: #686f7a !important;
    padding: .78571429rem 1.14285714rem!important;
    font-size: 14px !important;
	font-family: 'Roboto', sans-serif;
}

.ui.dropdown .menu>.channel_item:hover {
    color: #333 !important;
    background:#ffecec !important;
}

.rhte85 {
    display: flex;
}

.mef78 i {
    font-size: 18px;
    line-height: 15px;
    color: #1da1f2;
}

.pd_content p {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
    color: #686f7a;
    text-align: left;
    margin-top: 8px;
	line-height: 20px;
}

.pd_content span.nm_time {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    color: #afafaf;
    text-align: left;
}

.vbm_btn {
    width: 100%;
    text-align: center;
    float: left;
    padding: 15px 0;
    background: #ffecec;
    font-size: 14px;
    color: #333 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.vbm_btn:hover {
    background: #333;
    color: #fff !important;
}

.ui.menu.cate-dpdwn {
    box-shadow: none !important;
    border: 0 !important;
}

.ui.menu.cate-dpdwn>.item:hover {
    background: #fff !important;
}

.menu.dropdown_category5 {
    margin-top: 0 !important;
    border-top: 1px solid #fff !important;
    border-radius: 3px !important;
}


/* SideBar */
.left_section {
  border-bottom: 1px solid #e5e5e5;
}
.menu_left::-webkit-scrollbar {
  width:4px;
}
.menu_left::-webkit-scrollbar-thumb {
  height: 50px;
  background: hsla(0, 0%, 53.3%, 0.4);
}
.vertical_nav {
  position: fixed;
  top: 60px;
  bottom: 0;
  background: #fff;
  overflow: hidden;
  width: 240px;
  height: 100vh;
  z-index: 995;
  padding-top: 20px;
}

.menu--item {
  position: relative;
  min-height: 42px;
  line-height: 42px;
}

.menu--link {
  display: block;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
}
.menu--link:hover {
  background: #ffecec;
  color: #ed2a26 !important;
}

.left_section ul {
  padding-left: 0px;
  
}

.menu--icon {
  display: block;
  float: left;
  width: 60px;
  height: 45px;
  line-height: 43px;
  font-size: 20px;
  text-align: center;
  margin-right: 12px;
}

.menu--label {
  display: block;
  height: 45px;
  line-height: 43px;
}

/* Dashboard */

.wrapper {
  margin-left: 240px;
  padding: 90px 20px 20px 20px;
}
.wrap-content{
  margin-left: 240px;
  padding: 90px 20px 20px 20px;
}

/* Card */
.card_dash {
  background: #fff;
  margin-top: 30px;
  float: left;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #efefef;
  padding: 20px;
}
.card_dash_right img {
  width: 70px;
}
.card_dash_left h5 {
  font-size: 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
}
.card_dash_left h2 {
  font-size: 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
  margin-top: 0;
}
.card_dash_left span {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  background: #efefef;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  background: #ffa052 !important;
}

/* table css */
.table-responsive {
  border: 1px solid #efefef;
  border-radius: 3px;
  margin-bottom: 12px;
  overflow-x: inherit;
}
.course_active {
  color: #ed2a26;
}

table.table.ucp-table {
  margin-bottom: 0px;
}

table.table.ucp-table svg:hover{
  cursor: pointer;
}

.ucp-table {
  height: auto;
  overflow: hidden;
  border-radius: 4px;
}

.ucp-table thead {
  font-weight: 500;
  padding: 14px !important;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: #333 !important;
}


.ucp-table thead tr th:first-child {
  border-bottom-left-radius: 4px;
}

.ucp-table thead tr th {
  color: #333;
font-size: 14px;
  background-color: #ffecec;
}

.ucp-table tfoot {
  font-weight: 500;
  padding: 14px !important;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: #333 !important;
}

.ucp-table tfoot td {
  color: #fff;
  font-size: 14px;
  background-color: #333;
padding: .75rem !important;
}

.ucp-table.earning__table td {
padding: 1rem !important;
}

table {
  margin: 0px auto 0px;
  font-size: 14px;
  width: 100%;
}

.ucp-table tbody {
  background: #fff;
}

.ucp-table td, .ucp-table th {
  border-top: 1px solid #efefef !important;
}

.ucp-table td {
  padding: 1.5rem .75rem !important;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.ucp-table th:first-child {
  border-top: 0 !important;
}

.ucp-table thead th {
  vertical-align: bottom;
  border-bottom: 0 !important;
}

.course_active {
  color: #ed2a26;
}

.ucp-table tbody tr td {
  font-size: 14px;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.uil{
  font-size: 22px !important;
}
.uil:hover{
  cursor: pointer;
}

/* --- All Reviews --- */
.reviews_left {
  float: left;
  width: 100%;
  background: #fff;
  padding: 20px 30px 30px;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.reviews_left h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-bottom: 20px;
  color: #333;
  font-weight: 500;
}

.review_right_heading h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-bottom: 0;
  color: #333;
  float: left;
  font-weight: 500;
}
.review_all120{
  background: #fff;
  border-radius: 3px;
}


.review_item {
	padding: 20px;
	border-bottom: 1px solid #efefef;
}

.review_item:last-child {
    border-bottom: 0;
}

.review_usr_dt {
    display: flex;
	position: relative;
}
.review_usr_dt img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}
.review_item_course_title a {
	font-size: 16px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  line-height: 24px;
  margin-bottom: 0;
  color: #333;
  border-bottom: 1px solid #efefef;
  padding: 15px 20px;
	display: block;
  text-decoration: none;
}
.rvds10{
  font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 17px;
    line-height: 26px;
    color: #686f7a;
    text-align: left;
}

.tutor_name1 {
	font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #333 !important;
    text-align: left;
	margin-bottom: 0;
}

.time_145 {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    display: block;
    margin-top: 5px;
}
.total_raiting{
  display: flex;
  width: 100%;
  font-size: 16px;
  justify-items: center;
	background: #f7f7f7;
  border: 1px solid #efefef;
  padding: 10px 20px;
	border-radius: 3px;
}
.rating-box {
	color: #dedfe0;
	display: flex;
    flex-basis: 30%;
}
.star-icon:hover{
  cursor: pointer;
}
._rate001 {
	font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    color: #333;
    margin-right: 10px;
    line-height: 22px;
}
._rate002 {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
  color: #333;
  margin-left: 10px;
  line-height: 22px;
}
._rate004 {
	display: flex;
  cursor: pointer;
  height: auto;
  margin-top: 20px;
  border-radius: 0px;
}

.menu--link.active {
	background: #ffecec;
	color: #ed2a26;
}

/* Settings */
.basic_profile {
  margin-top: 32px;
}

.basic_ptitle h4 {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
color: #333;
font-size: 16px;
text-align: left;
}

.basic_ptitle p {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
color: #686f7a;
font-size: 14px;
text-align: left;
line-height: 26px;
}

/* new course */ 
#add-course-tab .step-steps {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-left: 0;
}

#add-course-tab .step-steps > li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 0 0 20%;
}

#add-course-tab .step-steps > li:before {
	background-color: #ededed;
    height: 8px;
    left: 50%;
    top: 18px;
    width: 140%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#add-course-tab .step-steps > li > a > .number {
	width: 24px;
	height: 24px;
	background-color: #d1d1d1;
	border: 0px solid;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#add-course-tab .step-steps > li > a > .number:before {
	background-color: rgba(221, 221, 211, 0.3);
	box-shadow: 0 0 0 rgba(221, 221, 211, 0);
	height: calc(100% + 16px);
	width: calc(100% + 16px);
	top: -8px;
	left: -8px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#add-course-tab .step-steps > li > a > .step-name {
	font-weight: 500;
	color: #b2b2b2;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	margin-top: 20px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  text-decoration: none;
}
.step-name{
  text-decoration:  none !important;
}
.step-steps li a{
  text-decoration: none;
}

#add-course-tab .step-steps > li:last-child:before {
	width: 0;
}

#add-course-tab .step-steps > li.active > a > .number,
#add-course-tab .step-steps > li.done > a > .number {
	background-color: #ed2a26;
}

#add-course-tab .step-steps > li.active > a > .number:before,
#add-course-tab .step-steps > li.done > a > .number:before {
	background-color: rgba(237, 42, 38, 0.3);
}

#add-course-tab .step-steps > li.active > a > .step-name,
#add-course-tab .step-steps > li.done > a > .step-name {
	color: #333;
}

#add-course-tab .step-steps > li.done:before {
	background-color: #ed2a26;
}

#add-course-tab .step-steps > li.done > a > .number:after {
	display: none;
}

#add-course-tab > .step-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	border: 0px solid;
	border-radius: 0px;
	padding-top: 60px;
}

#add-course-tab > .step-content .title-icon {
	margin-bottom: 25px;
}

#add-course-tab > .step-content .default-form .form-group {
	margin-bottom: 15px;
}

#add-course-tab > .step-content .default-form .form-controllar {
	font-size: 14px;
}

#add-course-tab > .step-content .default-form .form-controllar:focus {
	border-color: #F12C15;
}

#add-course-tab > .step-content .default-form .nice-select {
	border-bottom: 1px solid #ededed;
	font-size: 14px;
	height: 52px;
	padding: 5px 0 !important;
}

#add-course-tab > .step-content .default-form .nice-select:after {
	right: 0;
	top: 8px;
}

#add-course-tab > .step-content .default-form .nice-select .current {
	line-height: 45px;
}

#add-course-tab > .step-content .tags-form-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -15px;
}

#add-course-tab > .step-content .tags-form-group .form-group {
	margin-bottom: 7px !important;
}

#add-course-tab > .step-content .tags-form-group.add-list-content {
	display: block;
}

#add-course-tab > .step-content .tags-form-group.add-list-content a:hover {
	color: #F12C15;
}

#add-course-tab > .step-content .tags-form-group > div {
	flex: 0 0 25%;
	margin-right: 0 !important;
}

#add-course-tab > .step-content .step-tab-gallery .custom-file {
	border: 0;	
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-weight: 400;
	position: relative;
	text-align: left;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%;
}


#add-course-tab > .step-content .step-tab-gallery .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.3rem 2rem;
    font-weight: 400;
    line-height: 0;
    color: #686f7a;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 10rem;
	margin-bottom: 0;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
}


#add-course-tab > .step-content .step-tab-gallery .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: 1.3rem .75rem;
    line-height: 0;
    color: #fff;
    content: "Upload File";
    background-color: #ed2a26;
    border-left: inherit;
    border-radius: 0 10rem 10rem 0;
}

#add-course-tab .step-footer.step-tab-pager {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 30px;
	margin-bottom: 0px;
}

.step-app > .step-steps > li {
  display: inline-block;
  text-align: center;
  width: 24%;
  position: relative;
  z-index: 1;
}

.step-app > .step-steps > li:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 185px;
  height: 2px;
  background-color: #C4CAD2;
  top: 35px;
  left: 85px;
}
#add-course-tab .step-steps > li.active > a > .number, #add-course-tab .step-steps > li.done > a > .number {
  background-color: #ed2a26;
}
#add-course-tab .step-steps > li.active > a > .number, #add-course-tab .step-steps > li.done > a > .number {
  background-color: #ed2a26;
}
#add-course-tab .step-steps > li.active > a > .number:before, #add-course-tab .step-steps > li.done > a > .number:before {
  background-color: rgba(237, 42, 38, 0.3);
}
#add-course-tab .step-steps > li > a > .number:before {
  background-color: rgba(221, 221, 211, 0.3);
  box-shadow: 0 0 0 rgb(221 221 211 / 0%);
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.step-app > .step-steps > li > a > .number::before {
  content: "";
  z-index: -1;
}
.step-app > .step-steps > li > a > .number::before, .step-app > .step-steps > li.done > a > .number::after {
  border-radius: inherit;
  box-shadow: 1px 1px 5px #d1d7de;
  height: 36px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 36px;
  background-color: #fff;
}

.step-app > .step-steps > li > a, .step-app > .step-steps > li > a > span {
  display: block;
}

.step-app > .step-steps {
  overflow: hidden;  
  margin: 0 auto;
}

.step-app > .step-steps > li {
  display: inline-block;
  text-align: center;
  width: 24%;
  position: relative;
  z-index: 1;
}

.step-app > .step-steps > li:before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 185px;
  height: 2px;
  background-color: #C4CAD2;
  top: 35px;
  left: 85px;
}

.step-app > .step-steps > li:last-child:before {
  background-color: transparent;
}

.step-app > .step-steps > li.done:before {
  background-color: #FDB51C;
}

.step-app > .step-steps > li > a ,
.step-app > .step-steps > li > a > span {
  display: block;
}

.step-app > .step-steps > li > a > .number {
  background-color: #dae1e8;
  border: 1px solid #b6c2cf;
  border-radius: 50%;
  color: #454e5b;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 10px auto;
  position: relative;
  width: 50px;
  z-index: 0;
}

.step-app > .step-steps > li > a > .number::before,
.step-app > .step-steps > li.done > a > .number::after {
  border-radius: inherit;
  box-shadow: 1px 1px 5px #d1d7de;
  height: 36px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 36px;
  background-color: #fff;
}

.step-app > .step-steps > li > a > .number::before {
  content: "";
  z-index: -1;
}

.step-app > .step-steps > li.done > a > .number::after {
  content: "\f00c";
  z-index: 1;
  font-family: fontawesome;
  line-height: 35px;
}

.step-app > .step-steps > li > a > .step-name {
  color: #47494e;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
}

.step-app > .step-steps > li.error a {
color: #fff;
}

.step-app > .step-steps > li.done > a > .number {
  background-color: #FDB51C;
  border-color: #D79A18;
}

.step-app > .step-content {
border: 1px solid #e5e5e5;
padding-top: 55px;
border-top: 0;
}

.step-app > .step-content > .step-tab-panel {
display: none;
}

.step-app > .step-content > .step-tab-panel.active {
display: block;
}

.step-app > .step-footer {
margin-top: 15px;
margin-bottom: 15px;
}

.step-app > .step-footer > .step-btn {
padding: 4px 16px;
color: #333;
text-decoration: none;
background: #e5e5e5;
border-radius: 3px;
border: none;
outline: none;
cursor: pointer;
}
.title-icon > .title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
}

.title-icon {
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  padding: 18px 0;
  margin-bottom: 8px;
}

.course__form {
	background: #fff;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius: 3px;
	border: 1px solid #efefef;
}

.thumb-item {
  width: 100%;
  border: 1px solid #efefef;
  text-align: center;
  border-radius: 3px;
margin-bottom: 30px;
  background: #fff;
}

.thumb-item img {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.upload-btn [type="file"] {
	height: 0;
	overflow: hidden;
	width: 0;
}

.upload-btn [type="file"] + label {
	cursor: pointer;
    display: inline-block;
    outline: none;
    transition: all 0.3s;
    vertical-align: middle;
    margin: 0 0 17px;
    color: #ed2a26 ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(20, 47, 219, 0.11);
    border: 0;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 10px 25px;
    border: 1px solid #ed2a26 ;
    border-radius: 3px;
    text-transform: uppercase;
}

.upload-file-dt {
  background: #fff;
  border: 2px dashed #efefef;
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px 17px;
}
.upload-file-dt span{
	margin-bottom: 0;
	display: inline-block;
    color: #686f7a;
    background-color: transparent;
    overflow: hidden;
    line-height: 26px;
}

#add-course-tab .step-footer.step-tab-pager {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 30px;
	margin-bottom: 0px;
}

.added-section-item {
    border: 1px solid #efefef;
    margin-top: 30px;
	background: #ffffff;
}
.section-header {
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 3px;
  display: flex;
  width: 100%;
  align-items: center;
}

.section-header h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.section-header {
	margin-bottom: -1px;
    border-bottom: 1px solid #efefef;
}
.section-group-list {
  padding: 10px 20px 20px;
}
.section-list-item {
  display: flex;
  width: 100%;
  background: #f7f7f7;
  margin-top: 10px;
  padding: 15px;
  align-items: center;
}

.section-add-item-wrap {
  background: #231f20;
  color: #fff;
}
.section-item-title {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
.section-add-item-wrap button {
  margin-bottom: 0;
  margin-right: 17px;
  font-size: 16px;
  font-weight: 500;
font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #fff;
}

.section-add-item-wrap button i {
font-size: 14px;
}
.section-item-tools {
  border: 0;
  margin-left: 15px;
  background: transparent;
  color: #91699c;
  font-size: 13px;
  display: none;
}

.section-item-tools:hover {
  color: #231f20;
}
.section-list-item:hover .section-item-tools {
	display: block;
}

.section-item-tools svg{
  font-size: 16px;
  margin-top: -10px;
  margin-right: -5px;
}
.section-item-title-text{
  margin-left: 10px;
}

.section-edit-options {
  margin-left: auto;
}
.btn-152 {
  border: 0;
  background: transparent;
  margin-left: 15px;
  color: #afafaf;
  margin-right: -5px;
}

.btn-152 svg{
  font-size: 17px;
}
.publish-block {
  padding: 30px;
  text-align: center;
  border: 1px solid #efefef;
  background: #ffffff;
border-radius: 3px;
  margin-top: 30px;
}

.publish-block i {
  font-size: 24px;
  color: #333;
}

.publish-block p {
  font-size: 14px;
  line-height: 26px;
  padding-top: 20px;
  margin-bottom: 0;
color: #686f7a;
}

.border-red{
  border: 1px solid red !important;
}